site_name: Roblox Dubit Tools
site_url: https://dubit.github.io/roblox-dubit-tools/
site_author: dubit
repo_name: dubit/roblox-dubit-tools
repo_url: https://github.com/dubit/roblox-dubit-tools
docs_dir: Docs

theme:
  favicon: img/favicon.ico
  name: material
  palette: 
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  features:
    - content.code.copy
    - content.code.annotate

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences

nav:
  - 'index.md'
  - Debug Tools:
    - 'packages/debug_tools.md'
    - 'api/debug_tools.md'

watch:
  - packages